<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Testproperrties">
    <classes>
      <class name="com.model.maven.Propertiestest"/>
    </classes>
  </test> <!-- Testproperrties -->
</suite> <!-- Suite -->
